doctype html
html(lang="en")
    head
        title Notes
        p.text This web application was created to fulfill Web Technology module's requirements and does not represent an actual company or service
        link(rel="stylesheet", href="/static/my_styles.css")
    body 
        div.container
            h1.logo Notes Application

            block number1